.navbar {
    height: 40px;
    padding: 10px;
    background-color: #303030;
}

.container {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.button-container {
    width: fit-content;
}

.logo {
    height: 100%;
    margin-left: 10px;
}

.header-button {
    margin-left: 20px;
    background-color: #303030;
    border: none;
    color: white;
    cursor: pointer;
}

body {
    background-color: #161B22;
}