.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    border-radius: 5px;
    background-color: #242526;
    color: white;
    margin: 5%;
}

.cardcontainer {
    display: flex;
    padding: 2px 16px;
    flex-direction: column;
}

.cardimage {
    width: 80%;
    margin: 10%;
}

.carddate {
    margin-left: auto;
}

.likecontainer{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.thumb {
    margin-left: auto;
}

.cardtext {
    margin: 0 5px;
}